.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button {
  margin: 20px 10px;
  height: 60px;
  width: 120px;
  background-color: rgb(114, 195, 220);

  @media (min-width: 375px) {
    flex-basis: 100%;
  }
}
