.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tile {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  font-size: 4rem;
  @media (min-width: 375px) {
    flex-basis: 33%;
  }
  @media (max-width: 1024px) {
    flex-basis: 100%;
  }
}
